/*
Theme Name: marketsresearch
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: marketsresearch
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

marketsresearch is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/
@font-face {
font-family: 'Bebas Neue Regular';
font-style: normal;
font-weight: normal;
src: url('css/font/BebasNeue Regular.woff') format('woff');
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.site-branding img{
    padding: 10px 10px 10px 0;
}
h1, h2{
    font-family:'Bebas Neue Regular';
}
#header-social > div{
    float: right;
}
#header-mail, #header-phone{
    margin:30px 0 25px;
}
#header-mail a, #header-phone a{
    color: #918c8c;
    font-size: 14px;
    font-weight: 400;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-right: 1px solid #918c8c;
}
#header-mail a{
    background:url('img/mail-icn.png') no-repeat;
}
#header-phone a{
    background:url('img/phone-icn.png') no-repeat;
    margin-left: 20px;
}
#header-social-site ul, #footer_social ul{
    margin: 0;
    padding: 0 0 0 20px;
    list-style: none;
}
#header-social-site ul li, #footer_social ul li{
    float: left;
    margin-left: 5px;
}

#header-social-site ul li a, #footer_social ul li a{
    width: 25px;
    height: 25px;
    display: block;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-size: 14px;
}
#header-social-site ul li a i, #footer_social ul li a i{
    vertical-align: middle;
}
#header-social-site ul li.facebook-social a, #footer_social ul li.facebook-social a{
    background: #375B97;
}
#header-social-site ul li.twitter-social a, #footer_social ul li.twitter-social a{
    background: #02ABEE;
}
#header-social-site ul li.linkedin-social a, #footer_social ul li.linkedin-social a{
    background: #0179AD;
}
#header-social-site ul li.skype-social a, #footer_social ul li.skype-social a{
    background: #11A8F9;
}
#header-social-site{
    margin: 28px 0 25px;
}
#top_menu{
    border-top : 1px solid #d2d2d2;
}
#top_menu .navbar-inverse .navbar-nav>li>a{
    font-family: 'Montserrat', sans-serif;
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 700;
    height: 50px;
    padding: 14px 20px;
    text-transform: uppercase;
}
#top_menu .navbar-inverse{
    background: transparent;
    border: 0px;
    margin: 0px;
}
#top_menu .navbar-collapse{
    padding: 0px !important;
}
#footer-bottom{
    background: #1A1A1A;
    padding: 5px 0 9px;
    color: #fff;
}
#copyright p{
    font-size: 14px;
    margin-bottom: 0px;
}
#copyright a{
    margin-left: 5px;
}
#footer_social ul{
    display: inline-block;
    margin-top: 10px;
}
#footer_social{
    text-align: right;
}
#footer-top{
    background: #333333;
    padding-top: 66px;
    padding-bottom: 55px;
}
#footer-top h2{    
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    background-image: url(img/footer-title-border.png);
    margin: 0 0 15px;
    padding-bottom: 10px;
    background-repeat: repeat-x;
    background-position: left bottom;
}
#footer-top ul{
    list-style:none;
    padding: 0;
    margin:0px;
}
#footer-top ul li a{
    color: #fff;
    font-size: 14px;
    padding-left: 20px;
}
#footer-top ul li{
    margin-bottom: 6px;
    background-image: url(img/bullet.png);
    background-repeat: no-repeat;
    background-position-y:center;
    background-position-x:0;
 }
 #menu-footer2 li{
    margin-bottom: 13px !important;
 }
 #footer-top #comany_info p, #footer-top #comany_info p a{
    color: #fff;
    font-size: 14px;
 }
 #footer-top #comany_info p{
    padding-left: 30px;
 }
 #comany_info .footer-address{
    line-height: 24px;
    background-image: url(img/footer-home-icn.png);
    background-repeat: no-repeat;
    background-position: left 2px;
 }
 #comany_info .footer-phone{
    background-image: url(img/footer-phone-icn.png);
    background-repeat: no-repeat;
 }
 #comany_info .footer-mail{
    background-image: url(img/footer-mail-icn.png);
    background-repeat: no-repeat;
 }
 .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
    background:transparent;
    color: #FB3300 !important;
 }
 #home_search{
    background:url(img/banner.jpg);
    height: 320px;
 }
 #title_breadcrumb{
    background:#029DAF;
    height: 85px;
 }
 #home_search .search-form{
    width: 100%;
    padding: 30px 20px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-top: 50px;
 }
 #home_search .search-form input{
    height: 50px;
    padding: 10px;
 }
 #home_search .search-form input[type="search"]{
    width: 58.2%;
    border: 1px solid #908C8B;
    margin-right: 5px;
 }
 #home_search .search-form select{
    width: 30%;
    margin-right: 5px;
    height: 50px;
    border: 1px solid #908C8B;
    color: #908C8B;
    padding:10px;
 }
 #home_search .search-form input[type="submit"]{
    width: 10%;
    font-size: 14px;
    font-weight: bold;
    color:#fff;
    background:linear-gradient(to right, #ff3600 0%,#e18d05 100%);
    text-transform: uppercase;
    border: 0px;
 }
 #feature-box{
    margin-top: -103px;
 }
 #feature-box .box{
    background: #fff;
    border-radius: 10px;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.18);
 }
 #feature-box .box h3{    
    font-family: 'Montserrat', sans-serif;
    color: #4d4d4d;
    font-size: 18px;
    font-weight: 700;
    margin-top: 15px;
 }
 #feature-box .box .image-box{
    height: 50px;
    margin-top: 5px;
 }
 #feature-box .box p{
    font-size: 14px;
    margin:0px;
 }
 #home-about{
    height: 425px;
    margin-top: -87px;
    background:#F6F6F6; 
    text-align: center;
 }
 #home-about h1{
    margin-top: 70px;
    font-weight: bold;
    font-size: 35px;
    line-height: 28px;
 }
 .colored-border:after{
    content: "";
    width: 100px;
    height: 5px;
    background: linear-gradient(to right, #ff3600 0%,#e18d05 100%);
    position: relative;
    display: block;
    margin: 10px auto 24px;
}
 .read-more{
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(to right, #ff3600 0%,#e18d05 100%);
    text-transform: uppercase;
    width: 130px;
    height: 50px;
    display: block;
    margin: 0 auto;
    padding: 11px 20px;
    line-height: 28px;
    text-align: center;
}
.read-more:hover{
    color: #fff !important;
}
#home-about p{
    line-height: 30px;
}
#home-about .read-more{
    margin-top: 23px;
}
#home-report-cat{
    padding-top: 40px;
    padding-bottom: 70px;
}
#home-report-cat h2{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;
}
#home-report-cat .cat_box{
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
}
#home-report-cat .cat_box h3{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    margin-top: 0px;
    font-size: 23px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 15px;
}
#home-report-cat .cat_box p{
    color: #fff;
}
#home-report-cat .cat_box p.cat-read-more a{
    margin-top: 30px;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}
#home-report-cat .cat_box p.cat-read-more{
    margin-bottom: 4px;
}
#home-report-cat .read-more{
    width: 232px;
}
#myTabs > ul >li{
    width: 50%;
    border-bottom:1px solid #8E8C8D;
}
#myTabs > ul.nav-tabs{
    border: 0px;
    margin-bottom: 20px;
}
#myTabs > ul >li.active{
    border-bottom:5px solid #FB3601;
}
#myTabs > ul >li > a{
    border: 0px !important;
    text-transform: uppercase;
    font-family: 'Bebas Neue Regular';
    font-size: 28px;
    color: #929292;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 700;
    line-height: 20px;
}
#report_post_tabs{
    background:#F6F6F6;
    padding:60px 0 70px;
}
#myTabs > ul >li.active a{
    color: #FB3601;
    background: transparent;
    padding-bottom: 8px;
}
#myTabs > ul >li > a:hover{
    color: #FB3601;
    background: transparent;
    padding-bottom: 8px;      
}
#myTabs > ul >li:hover{
    border-bottom:5px solid #FB3601 !important;
}
.tab-box{
    margin-top: 30px;
    border:1px solid #d2d2d2;
    background: #fff;
    padding:20px;
}
.tab-box h3{
    line-height: 20px;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}
.tab-box a{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}
.report_meta{
    background: #F0F0F0;
    padding:10px;
    margin-bottom: 15px;
}
.report_meta p{
    float: left;
    margin-bottom: 0px;
    margin-right: 10px;
    line-height: 18px;
}
.report_meta p.report_publisher{
    padding-left: 20px;
    background: url('img/user.png') no-repeat;
    text-transform: capitalize;
}
.report_meta p.report_date{
    padding-left: 20px;
    background: url('img/calendar.png') no-repeat;
    background-position: 0px 2px;
}
.report_meta p.report_pages{
    padding-left: 20px;
    background: url('img/file.png') no-repeat;
}
.report_meta p.report_id{
    padding-left: 25px;
    background: url('img/id.png') no-repeat;
}
.report_exc{
    margin-bottom: 0px;
    line-height: 24px;
}
#report_post_tabs .read-more{
    width: 230px;
    margin-top: 50px;
}
#title_breadcrumb h1, #title_breadcrumb h2{
    font-size: 34px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 24px;
    font-family: 'Bebas Neue Regular';
    font-weight: bold;
    margin: 5px 0;
}
#title_breadcrumb .page_bread .breadcrumbs{
    text-align: right;
}
#title_breadcrumb .page_bread .breadcrumbs span, #title_breadcrumb .page_bread .breadcrumbs{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
#title_breadcrumb .page_bread .breadcrumbs > span{
    margin-left:15px;
    margin-right:15px;
}
#title_breadcrumb .page_bread .breadcrumbs{
    margin-top: 32px;
    margin-right: -15px;
}
#title_breadcrumb .page_bread .breadcrumbs a span{
    font-weight:normal;
}
.container-full#main-content{
    background: #F6F6F6;
    padding-bottom: 40px;
    padding-top: 40px;
}
.blog .container-full#main-content article .post-content{
    border:1px solid #d2d2d2;
    background: #fff;
    padding: 18px 20px 60px;
    margin-bottom: 30px;
    position: relative;
}
.blog .container-full#main-content article img{
    max-width: 100%;
width:100%;
height:200px;
}
.blog .container-full#main-content article .entry-header h2{
    line-height: 28px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #4d4d4d;
    margin:0 0 10px 0;
height:84px;
}
.container-full#main-content article .report_meta p{
    margin-right: 5px;
}
.container-full#main-content article .report_meta{
    padding: 10px 6px;
}
.container-full#main-content article .report_exc a{
    position: absolute;
    bottom: 24px;
    display: block;
    left: 20px;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
}
.wp-pagenavi span.current {
    font-weight: normal;
    color: #Fff;
    background: #FF3600 !important;
    border: 1px solid #FF3600;
    width: 40px !important;
    height: 40px !important;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
}
.wp-pagenavi .previouspostslink, .wp-pagenavi .nextpostslink{
    background: #928C8C;
    width: 40px;
    height: 40px;
    display: inline-block;
    padding-top: 10px;
    color: #fff;
    text-align: center;
    font-size: 22px;
    line-height: 16px;
    font-weight: normal;
}
.wp-pagenavi .first, .wp-pagenavi .last{
    background: #928C8C;
    width: 50px;
    height: 40px;
    display: inline-block;
    padding-top: 10px;
    color: #fff;
    text-align: center;
    font-size: 22px;
    line-height: 16px;
    font-weight: normal;
}
.wp-pagenavi a, .wp-pagenavi span{
    margin: 2px 5px;
    background: #F4EBEC;
    border: 1px solid #908C8D;
    width: 40px;
    height: 40px;
    display: inline-block;
    padding-top: 10px;
    text-align: center;
}
.widget-area h2.widget-title{
    color: #fff;
    background: #4d4d4d;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    margin: -1px -21px 0;
}
.widget-area section{
    background: #fff;
    padding: 0 20px 20px;
    border: 1px solid #d2d2d2;
}
.widget-area section.widget_recent_entries ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.widget-area section.widget_recent_entries ul a{
    line-height: 28px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #4d4d4d;
}
.widget-area section.widget_recent_entries ul li{
    margin-top: 15px;
}
.single #primary{
    border: 1px solid #d2d2d2;
    background: #fff;
    padding: 20px;   
}
h1.entry-title{
    line-height: 28px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #4d4d4d;
    margin-top: 0;
}
.navbar-toggle{
    background-color:#E18D05;
}

/* ========================== Pankaj Css ============================== */
/* ========================== Woocomerce single product page ============================== */
body.woocommerce.woocommerce-page .product .theme-custom-wrapper-left .summary.entry-summary {
    width: 100% !important;
    float: none !important;
}

.theme-custom-wrapper-left {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.related.products.custom-related .products li {
    width: 100%;
    float: none;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
}
.related.products.custom-related .products li a.woocommerce-LoopProduct-link {
    font-family: 'Montserrat', sans-serif;
    color: #4d4d4d;
    font-size: 16px;
    font-weight: bold;
}

.custom-related .related-title {
    color: #FE400F;
    font-weight: 600;
}

.table-of-content-wrapper pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    background-color: #fff;
    border: none;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

body.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    background: #4D4D4D;
    z-index: 2;
    border-bottom-color: #000;
    color: #fff;
}
body.woocommerce div.product .woocommerce-tabs ul.tabs li {
    padding: 0 2.1em;
    border-radius: 0;
    border: 0px solid #d3ced2;
    margin: 0 -1px;
    background-color: #928C8C;
}

body.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before {
    box-shadow: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #ffffff transparent;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -2px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:before {
    left: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-width: 0 0px 0px 0;
    box-shadow: none;
    border: 0px solid #d3ced2;
    position: absolute;
    bottom: 0px;
    width: 0;
    height: 0;
    content: " ";
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:after {
    right: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    border-width: 0;
    box-shadow: none;
    border: 0px solid #d3ced2;
    position: absolute;
    bottom: 0px;
    width: 0;
    height: 0;
    content: " ";
}

body.woocommerce div.product .woocommerce-tabs ul.tabs:before {
    position: absolute;
    content: " ";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 0px solid #d3ced2;
    z-index: 1;
}

body.woocommerce div.product .woocommerce-tabs ul.tabs li:hover {
    background-color: #FF3600;
}
body.woocommerce div.product .woocommerce-tabs ul.tabs li:hover a {
    color: #fff;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    color: #fff;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
    padding: 0;
}

/* ========================================== woocommerce sidebar css ==============================================*/
.variations .label {
    font-size: 16px;
    line-height: 23px;
    display: block;
    background: #ff3801;
    background: -moz-linear-gradient(left, #ff3801 0%, #e28a05 100%);
    background: -webkit-linear-gradient(left, #ff3801 0%,#e28a05 100%);
    background: linear-gradient(to right, #ff3801 0%,#e28a05 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3801', endColorstr='#e28a05',GradientType=1 );
    padding: 8px 5px 5px 15px;
    border-radius: 0;
    text-transform: uppercase;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

.variations .value {
    padding: 15px 15px 0 15px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;  
    background-color: #fff;  
}

.variations .value input {
    margin-right: 10px;
    vertical-align: text-top;
}

.variations .value input[type="radio"] {
    display:none;
}
.variations .value input[type="radio"] + label {
    color: #000;
    font-family:Arial, sans-serif;
    font-size: 16px;
    line-height: 28px;
    cursor: pointer;
}
.variations .value input[type="radio"] + label span {
    display:inline-block;
    width: 14px;
    height: 14px;
    margin:-1px 13px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
}

.variations .value input[type="radio"] + label span {
    background-color: transparent;
    border: 1px solid #999;
}

.variations .value input[type="radio"]:checked + label span{
    background-color: #FF3600;
    border: 1px solid #FF3600;
}

.variations .value input[type="radio"] + label span,
.variations .value input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}

body.woocommerce div.product form.cart .variations {
    margin-bottom: 0;
}

.woocommerce div.product .theme-custom-wrapper-right form.cart, .woocommerce div.product .theme-custom-wrapper-right p.cart {
    margin-bottom: 2em;
    background-color: #fff;
}

.woocommerce div.product form.cart .button {
    vertical-align: middle;
    float: left;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 0;
}

.theme-custom-wrapper-right form.variations_form.cart {
    padding-bottom: 20px;
}

.theme-custom-wrapper-right form.variations_form.cart .single_variation_wrap {
    padding-left: 20px;
}

#woocommerce-sidebar .widgettitle {
    margin: 0;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 24px;
    display: block;
    background: #ff3801;
    background: -moz-linear-gradient(left, #ff3801 0%, #e28a05 100%);
    background: -webkit-linear-gradient(left, #ff3801 0%,#e28a05 100%);
    background: linear-gradient(to right, #ff3801 0%,#e28a05 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3801', endColorstr='#e28a05',GradientType=1 );
    border-radius: 0;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

#woocommerce-sidebar .product_list_widget li a img {
    display: none;
}

#woocommerce-sidebar ul li a,
#woocommerce-sidebar .product_list_widget li a {
    color: #000;
    text-decoration: none;
}

#woocommerce-sidebar > div {
    margin-bottom: 20px;
    background-color: #fff;
}

#woocommerce-sidebar ul {
    padding: 15px;
    list-style-type: none;
}
#woocommerce-sidebar ul li {
    margin-bottom: 15px;
}

span.star {
    background: url('img/star.png');
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 0 10px;
}
.star-inner {
    min-height: 100px;
    background-color: #fff;
    padding: 15px;
}

.rating-wrapper .widgettitle {
    margin: 0;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 24px;
    display: block;
    background: #ff3801;
    background: -moz-linear-gradient(left, #ff3801 0%, #e28a05 100%);
    background: -webkit-linear-gradient(left, #ff3801 0%,#e28a05 100%);
    background: linear-gradient(to right, #ff3801 0%,#e28a05 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3801', endColorstr='#e28a05',GradientType=1 );
    border-radius: 0;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

.rating-wrapper {
    margin-bottom: 20px;
}

pre.report-template-tab-content-pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    background-color: transparent;
    border: none;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border: none;
}

pre {
    display: block;
    padding: 10.5px;
    margin: 0 0 11px;
    font-size: 15px;
    line-height: 1.42857143;
    word-break: normal;
    word-wrap: break-word;
    color: #4d4d4d;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
}

.custom-textarea textarea {
    width: 98%;
}

/* ============================================ Archive page ======================================== */
body.woocommerce .custom-archive ul.products li {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.term-description {
    margin-bottom: 40px;
}

#title_breadcrumb .page_title {
    font-size: 34px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 15px;
    font-family: 'Bebas Neue Regular';
    font-weight: bold;
}

.custom-category-accordian.panel-default>.panel-heading {
    color: #fff;
    border-color: #ddd;
    background: #ff3801;
    background: -moz-linear-gradient(left, #ff3801 0%, #e28a05 100%);
    background: -webkit-linear-gradient(left, #ff3801 0%,#e28a05 100%);
    background: linear-gradient(to right, #ff3801 0%,#e28a05 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3801', endColorstr='#e28a05',GradientType=1 );
}

.custom-category-accordian .panel-body {
    padding: 0;
}

.custom-category-accordian .list-group {
    margin-bottom: 0px;
    padding-left: 0;
}

.custom-category-accordian .list-group-item {
    border: 0px solid #ddd;
}

body .panel-group .panel.custom-category-accordian {
    margin-bottom: 22px;
}

.term-link {
    text-align: center;
    padding: 10px 15px;
    background-color: #ccc;
    color: #fff;
}

.term-link a {
    color: #4d4d4d;
    text-transform: uppercase;
}

body .panel-title a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}

body .panel-heading {
    padding: 0;
}

.custom-category-accordian .list-group-item a {
    color: #4d4d4d;
}

.badge {
    font-size: 13px;
    font-weight: 400;
    color: #4d4d4d;
    background-color: transparent;
}
.woocommerce ul.products li.product a.woocommerce-LoopProduct-link {
    color: #4d4d4d;
}

.woocommerce ul.products li.product h3 {
    font-size: 16px;
}

.page-template-template-contact-us .container-full#main-content {
    padding-top: 0;
}

/* ================= Contact us ======================== */

.banner-wrapper img {
    width: 100%;
    height: 400px;
}

.contact-address.icon {
    font-size: 35px;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 50%;
    background: #ff3801;
    background: -moz-linear-gradient(left, #ff3801 0%, #e28a05 100%);
    background: -webkit-linear-gradient(left, #ff3801 0%,#e28a05 100%);
    background: linear-gradient(to right, #ff3801 0%,#e28a05 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3801', endColorstr='#e28a05',GradientType=1 );
    vertical-align: top;
    margin-right: 10px;
    color: #fff;
}

.contact-details span {
    display: inline-block;
}

.content-area-details {
    margin: 40px 0;
}

.contact-details {
    background-color: #fff;
    padding: 15px;
}

span.contact-address.icon.phone,
span.contact-address.icon.mail {
    vertical-align: middle;
}

#gform_1 .gform_footer.top_label {
    text-align: center;
}

.contact-text h5 {
    color: #f94802;
    margin: 0;
}

.contact-text h1 {
    margin: 5px 0px 10px 0;
}

#gform_1 .gform_footer.top_label input {
    padding: 15px 50px;
    background: #ff3801;
    background: -moz-linear-gradient(left, #ff3801 0%, #e28a05 100%);
    background: -webkit-linear-gradient(left, #ff3801 0%,#e28a05 100%);
    background: linear-gradient(to right, #ff3801 0%,#e28a05 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3801', endColorstr='#e28a05',GradientType=1 );
    border: 0;
    color: #fff;
    text-transform: uppercase;
}

/* ===================================================================================================================
                                                Responsive 
=================================================================================================================== */

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    #top_menu .navbar-inverse .navbar-nav>li>a {
        font-size: 12px;
        padding: 14px 18px;
    }
    
    #home_search .search-form input[type="search"] {
        width: 58%;
    }
    .read-more {
        width: 140px;
    }
    #home-report-cat .cat_box {
        background-size: 100% 100%;
    }
    #home-report-cat .cat_box h3 {
        min-height: 40px;
    }
    #home-report-cat .read-more {
        width: 250px;
    }
    #footer_image img {
        width: 100%;
    }
    .panel-title {
        min-height: 60px;
    }
    .report_meta {
        font-size: 12px;
    }
    .blog .container-full#main-content article .entry-header h2 {
        height: auto;
    }
    .contact-address.icon {
        font-size: 22px;
        padding: 10px 15px;    }
    }

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    #top_menu .navbar-inverse .navbar-nav > li > a {
        font-size: 10px;
        height: auto;
        padding: 15px 10px;
    }
    #home_search .search-form input[type="search"] {
        width: 55%;
    }
    #home_search .search-form input[type="submit"] {
        width: 12%;
    }
    #home-about {
        margin-top: 0;
    }
    .panel-title {
        min-height: 60px;
    }
    #home-report-cat .cat_box h3 {
        line-height: 28px;
        min-height: 56px;
    }
    .widget {
        min-height: 250px;
    }
    #feature-box .box {
        margin-bottom: 10px;
    }
    #home-report-cat .cat_box {
        background-size: 100% 100%;
    }
    .contact-address.icon {
        font-size: 18px;
        padding: 5px 10px;
    }
    .contact-details .contact-address {
        font-size: 10px;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    
    .contact-details {
        margin-bottom: 10px;
    }

    #home_search .search-form input[type="search"] {
        width: 50%;
    }

    #home_search .search-form input[type="submit"] {
        width: 15%;
    }

    #feature-box .box {
        margin-bottom: 10px;
    }

    #home-about {
        margin-top: -20px;
        height: 345px;
    }

    .read-more {
        width: 150px;
    }

    #home-report-cat .cat_box {
        background-size: cover;
    }

    #home-report-cat .read-more {
        width: 245px;
    }

    .widget {
        margin-bottom: 40px;
    }

    #copyright, #footer_social {
        text-align: center;
    }

    .report_meta p {
        margin-bottom: 10px;
    }

    .custom-archive {
        margin-bottom: 30px;
    }

    body.woocommerce div.product .woocommerce-tabs ul.tabs li {
        padding: 0 0.8em;
    }
}

@media (max-width: 640px) {

    #home_search .search-form input[type="search"] {
        width: 100%;
        margin-bottom: 20px;
    }

    #home_search .search-form select {
        width: 100%;
        margin-bottom: 20px;
    }

    #home_search .search-form input[type="submit"] {
        width: 100%;
    }

    #feature-box {
        margin-top: -23px;
    }

    #home_search {
        height: 330px;
    }

    #home-about {
        height: 410px;
    }

    body.woocommerce div.product .woocommerce-tabs ul.tabs li {
        padding: 0 0.8em;
        width: 50%;
        font-size: 12px;
        margin-bottom: 10px;
    }

}

/* Landscape phones and smaller */
@media (max-width: 480px) {

}
@media (max-width: 320px) {
    
}



@media(max-width:760px){
    #myTabs > ul > li > a{
        line-height:30px;
    }
    #title_breadcrumb{
        height:auto;
min-height:85px;
    }
    .page_bread{
        display:none;
    }
}